whoosh
ipy
python-ldap; python_version < '3.0'
ldap3; python_version >= '3.0'
flake8==3.0.4
epydoc
sphinx
pysqlite; python_version < '3.0'
mock<1.1.0
mockldap
coverage
coveralls
mysqlclient
psycopg2==2.4.1
